navbar
md-content(ng-init="init()" layout-padding layout-margin layout-fill)
  h2 Projects
  md-content(layout-wrap layout='row')
    md-card(ng-repeat='project in projects' flex='30' flex-sm='45' flex-xs='100')
      md-card-content()
        h4.md-card-title {{project.title}}
        p(ng-if='!project.show')
        p {{project.date | date: 'M/dd/yy'}}
        p(ng-bind-html='project.preview | HTMLString') 
        a(href='/Projects/{{project._id}}') More information...   
  span(layout='row' layout-align='end center')
    md-button.md-raised(ng-if="isAdmin && !viewAll" ng-href='/Projects-all') Show all projects
    md-button.md-raised.md-primary.md-icon-button(ng-if="isAdmin" ng-href='/Project/new')
      md-icon
        i.material-icons create
footer
