navbar
md-content(ng-init="init()" layout-padding layout-margin layout-fill)
  md-card(flex)
    md-card-content
      a(href='/Projects' flex) All Projects
      h1 {{project.title}}
      p(ng-if='!project.show')
        i Hidden
      p
        strong {{project.date | date: 'M/d/yy'}}
      p(ng-bind-html='project.body | HTMLString')
      md-content(layout='row' layout-align='center center' layout-wrap layout-padding layout-fill layout-margin)
        md-card(flex="45" flex-xs="100" ng-repeat="image in project.files track by $index")
          img(ng-src="/api/projects/images/{{image}}" class="md-card-image")
      span(layout='row' layout-align='end start')
        md-button.md-raised.md-primary.md-icon-button(ng-if="isAdmin" ng-href='/Projects/{{project._id}}/edit')
          md-icon
            i.material-icons edit
footer
