navbar
md-content(ng-init='init()')
  md-card
    md-card-content
      h1 {{project.title}}
      p
        strong {{project.date | date: 'M/dd/yy'}}
      p(ng-bind-html='project.body | HTMLString')
      md-button.md-raised.md-primary(ng-if="isAdmin" ng-href='/Projects/{{project._id}}/edit') Edit
footer
