md-toolbar.md-whiteframe-1dp(md-scroll-shrink='false')
  div.md-toolbar-tools
    md-button(href='/') Home
    span(flex)
    md-button(ng-repeat='item in nav.menu' href='{{item.state}}') {{item.title}}
