navbar
md-content(ng-init='init()')
  h2 Edit Profile
  md-card
    md-card-content
      h2.md-card-title Information
      p Enter your profile information below
      form(ng-submit="saveProfile()" layout='column')
        md-input-container
          label Your name
          input(type='text' ng-model='profile.name')
        md-input-container
          label Blog URL
          input(type='text' ng-model='profile.blogUrl')  
        md-input-container
          label LinkedIn URL
          input(type='text' ng-model='profile.linkedInUrl')
        md-input-container
          label GitHub URL
          input(type='text' ng-model='profile.githubUrl')  
        md-input-container
          label Facebook URL
          input(type='text' ng-model='profile.facebookUrl')  
        md-input-container
          label Twitter URL
          input(type='text' ng-model='profile.twitterUrl')  
        md-input-container
          label Flickr URL
          input(type='text' ng-model='profile.flickrUrl') 
        md-checkbox(ng-model="profile.showPortrait")
          | Show Portrait Image
        md-checkbox(ng-model="profile.showBackground")
          | Show Background Image
        span(layout='row' layout-align='end center')
          md-button.md-primary.md-raised.md-icon-button(type='submit')
            md-icon
              i.material-icons save
      md-card(ng-show='mode==="edit"')
        md-card-content
          h2.md-title Upload Images
          div(layout='row')
            form(name='addBackgroundImage')
              md-button.md-raised(ngf-select="uploadBackground($file)") Select Background
              md-progress-linear(ng-hide="progressPercentageBackground === 0 || progressPercentageBackground === 100 || progressPercentageBackground === undefined" md-mode="query" value="{{progressPercentageBackground}}")
            form(name='addPortraitImage')
              md-button.md-raised(ngf-select="uploadPortrait($file)") Select Portrait
              md-progress-linear(ng-hide="progressPercentageBackground === 0 || progressPercentageBackground === 100 || progressPercentageBackground === undefined" md-mode="query" value="{{progressPercentageBackground}}")

      md-card(ng-show='mode==="edit"')
        md-card-content
          h2.md-title Preview Images
          div(layout='row' layout-align='center center' layout-wrap)
            md-card(flex="45" flex-md="45" flex-sm="100" ng-show='profile.backgroundImage')
              img(ng-src="/api/profile/image/{{profile.backgroundImage}}" class="md-card-image")
              md-card-content
                h3.md-title Background
            md-card(flex="45" flex-md="45" flex-sm="100" ng-show='profile.portraitImage')
              img(ng-src="/api/profile/image/{{profile.portraitImage}}" class="md-card-image")
              md-card-content
                h3.md-title Portrait
footer
